body
{
 background-color:#2c2c2c;
 color:#fbfbfb;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 margin: 0 !important;
}
.wrapper
{
	width: 100%;
}
.header
{
	width: 100%;
	padding: 40px 0;
}
.logo
{
	width: 450px;
	font-size: 48px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.nav
{ 
    width: 100%;
    padding: 10px 0;
    background-color: #414141;
    text-align: center;
    border-top: 1px solid #fbfbfb;
    border-bottom: 1px solid #fbfbfb;
}
.content
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align: justify;
	padding-top:10px;
}
.footer
{
	text-align:center;
	background-color:#2b2b2b;
	padding:30px;
}
.sticky
{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:100;
}
ol
{
	padding:0;
	margin:0;
	list-style-type: none;
	font-size:18px;
	height:35px;
	line-height:200%;
	display: inline-block;
}
ol a
{
	color:#fbfbfb;
	text-decoration: none;
	display:block;
}
ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #0e0e0e;
}
ol > li:first-child
{
	border-left: 1px dashed #0e0e0e;
}
ol > li:hover
{
	background-color:rgb(59, 59, 59);
}
ol > li:hover > a
{
	color:#ff0066;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 0;
	display: none;
}
ol > li:hover > ul
{
	display: block;
}
ol > li > ul >li
{
	background-color:#3b3b3b;
	position:relative;
	z-index:100;
	border-top: 1px dashed #fbfbfb;
}
ol > li > ul >li:hover
{
	background-color:#3d3d3d;
}
ol > li > ul >li:hover > a
{
	color: #ff0033;
}